<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/poi</property>
    <property name="hibernate.connection.username">syspoi</property>
    <property name="hibernate.connection.password">syspoi123</property>
    <mapping resource="org/gra/poi/be/Detallef2.hbm.xml"/>
    <mapping resource="org/gra/poi/be/AccionEstrategica.hbm.xml"/>
    <mapping resource="org/gra/poi/be/Detallef4.hbm.xml"/>
    <mapping resource="org/gra/poi/be/Formato1.hbm.xml"/>
    <mapping resource="org/gra/poi/be/Subgrupo.hbm.xml"/>
    <mapping resource="org/gra/poi/be/Formato3.hbm.xml"/>
    <mapping resource="org/gra/poi/be/Usuario.hbm.xml"/>
    <mapping resource="org/gra/poi/be/RolUsuario.hbm.xml"/>
    <mapping resource="org/gra/poi/be/OrganoUnidad.hbm.xml"/>
    <mapping resource="org/gra/poi/be/EspecificaGasto.hbm.xml"/>
    <mapping resource="org/gra/poi/be/Formato5.hbm.xml"/>
    <mapping resource="org/gra/poi/be/Detallef6.hbm.xml"/>
    <mapping resource="org/gra/poi/be/ProgramacionActividades.hbm.xml"/>
    <mapping resource="org/gra/poi/be/Formato9.hbm.xml"/>
    <mapping resource="org/gra/poi/be/Detallef8.hbm.xml"/>
    <mapping resource="org/gra/poi/be/GastoPresupuestario.hbm.xml"/>
    <mapping resource="org/gra/poi/be/DocumentosGestionReferencial.hbm.xml"/>
    <mapping resource="org/gra/poi/be/Empleado.hbm.xml"/>
    <mapping resource="org/gra/poi/be/Formato7.hbm.xml"/>
    <mapping resource="org/gra/poi/be/MetaOperativa.hbm.xml"/>
    <mapping resource="org/gra/poi/be/Detallef3.hbm.xml"/>
    <mapping resource="org/gra/poi/be/ActividadOperativa.hbm.xml"/>
    <mapping resource="org/gra/poi/be/Poi.hbm.xml"/>
    <mapping resource="org/gra/poi/be/DetallePoi.hbm.xml"/>
    <mapping resource="org/gra/poi/be/Institucion.hbm.xml"/>
    <mapping resource="org/gra/poi/be/DetalleMarcoPresupuestario.hbm.xml"/>
    <mapping resource="org/gra/poi/be/Detallef1.hbm.xml"/>
    <mapping resource="org/gra/poi/be/CentroCosto.hbm.xml"/>
    <mapping resource="org/gra/poi/be/Formato2.hbm.xml"/>
    <mapping resource="org/gra/poi/be/Formato6.hbm.xml"/>
    <mapping resource="org/gra/poi/be/Formato4.hbm.xml"/>
    <mapping resource="org/gra/poi/be/OePei.hbm.xml"/>
    <mapping resource="org/gra/poi/be/Detallef9.hbm.xml"/>
    <mapping resource="org/gra/poi/be/CategoriaPresupuestal.hbm.xml"/>
    <mapping resource="org/gra/poi/be/MarcoPresupuestario.hbm.xml"/>
    <mapping resource="org/gra/poi/be/Detallef5.hbm.xml"/>
    <mapping resource="org/gra/poi/be/Formato8.hbm.xml"/>
    <mapping resource="org/gra/poi/be/Detallef7.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
